parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	cache.storage: Nette\Caching\Storages\DevNullStorage
	DataImporter: App\Model\DataImporter
	- App\Router\RouterFactory::createRouter
