parameters:
    dataSourceUrl: https://www.3it.cz/test/data/json

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		tags: no


services:
	cache.storage: Nette\Caching\Storages\DevNullStorage
	RecordRepository: App\Model\RecordRepository
	DataImporter: App\Facade\DataImporter
	DataSourceJson: App\Facade\DataSourceJson(%dataSourceUrl%)
	- App\Router\RouterFactory::createRouter
